.custom-image {
    height: 120px; /* Fixed height for images */
    object-fit: contain; /* Ensures the whole image is visible */
    width: 100%; /* Full width to fill the container */
  }
  
  
  .product-info {
    margin-top: 10px;
  }
  
  .card-footer {
    background: #f8f9fa; /* Light grey background for the footer */
  }
  
  .price-box {
    font-size: 1.2em; /* Larger font for the price */
    font-weight: bold;
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adding some shadow for better visibility */
  }
  