.custom-image {
    max-width: 50%; 
    height: auto;  
    max-height: 200px; 
    object-fit: cover; 
  }
  
  .card-text{
    font-size: 12px;
  }
  
  .price-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bcf6cf; /* Light background color */
    border: 1px solid #ddd; /* Border around the box */
    border-radius: 5px; /* Rounded corners */
    padding: 5px; /* Padding inside the box */
    height: 20px; /* Same height as the button */
    margin-top: auto;
    margin-left: 10px; /* Spacing between the button and the price box */
  }

  .content {
    padding-bottom: 60px; /* Same height as the footer */
  }
  
  .loader{
    width:100%;
    height: 100%;
    margin-bottom: auto;
  }


  .loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Adds a semi-transparent background */
    z-index: 9999; /* Ensure it is on top of other content */
  }
  
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  